@import '../../../assets/css/_colors.scss';

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

#mainbanner-block {
  .swiper {
    &-wrapper {

    }

    &-slide {
      position: relative;
      height: 420px;
      border-radius: 25px;
      overflow: hidden;

      .slide {
        &__content {
          position: absolute;
          top: 30px;
          left: 45px;
          width: 58%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 30px;
          border-radius: 25px;
          background: rgba(245, 245, 245, 0.80);
          backdrop-filter: blur(12.5px);

          h5 {
            max-width: 385px;
          }
        }

        &__bg {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 0;
        }
      }
    }
  }
}

/*============ MEDIA ==================*/
@media screen and (min-width: 992px) and (max-width: 1221px) {

}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media (max-width: 768px) {
  #mainbanner-block {
    .swiper {
      &-slide {
        min-height: 350px;

        .slide {
          &__content {
            width: calc(100% - 90px);
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #mainbanner-block {
    .swiper {
      &-slide {
        .slide {
          &__content {
            top: 10px;
            left: 10px;
            width: calc(100% - 20px);
          }
        }
      }
    }
  }
}